.col-md-8.col-xs-8
  .select_theme
    = render 'work/button_theme_select', locale: @current_locale
.col-md-4.col-xs-4
  .total-values
    %span.add-text= t('common.total_values')+":"
    %span.total{:data => {:value => @values_qty.round}} #{@values_qty.round}


.image_display
  .col-md-12.col-xs-12
    .image-info
      %a.up-theme{ :href => "results_list",  :title => t(".list_results")}
        = @selected_theme
      %span.up{:title => t("common.image_name")}

  .img-block
    .img-left-side.arrow
      %span{:title => t(".prev")}
        %i.fa.fa-chevron-left.strong
    .img-center
      = image_tag('pictures/auto_parking.jpg')
      = render('work/loader')
    .img-right-side.arrow
      %span{:title => t(".next")}
        %i.fa.fa-chevron-right.strong
        .row.diag

    .image-values
      .image-value
        .image-value-title
          %span =t("common.average_value")
        .image_average_value.common{:title => t("common.average_value")}
      .image-value
        .image-value-title
          %span =t("common.my_value")
        .image_user_value{:title => t("common.my_value")}

= render 'work/range_image_value'

